.accord{
    padding-top: 100px;
    width: 683.7px;
    height: 72px;
}


.Accordionn{
    background-color: #F3F5F7;
    /* width: 1380px; */
    /* height: 722px; */
    padding-top: 90px;
}

.accord-left-side{
    padding-top: 90px;
}

.contactuss{
    border: none;
    background-color: #CF4D74;
    width: 151px;
    height: 58px;
    text-align: center;
    border-radius: 64px;
}



